streamlit
pandas
numpy
seaborn
matplotlib
fitz
PyMuPDF 
nltk
wordcloud
spacy==3.5.4
thinc==8.1.10
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
transformers==4.36.2
sentence-transformers
torch
langchain
huggingface_hub
scikit-learn
