streamlit
pandas
numpy
seaborn
matplotlib
fitz
PyMuPDF 
nltk
wordcloud
spacy>=3.6.0
thinc>=8.1.0
transformers==4.36.2
sentence-transformers
torch
langchain
huggingface_hub
scikit-learn
